@font-face {
    font-family: Vera Mono;
    src: url(VeraMono.ttf);
}

.about-container  {
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: .19rem;
    
  
}
.about-img-container {
    height: 380px;
    width: 480px;
    font-family: monospace;
    white-space: pre;
    font-size: .19rem;
    
}
.about-container span {
    font-size: clamp(.65rem, 1.5vw, 1rem); 
    margin-top: 2%;
    width: 50vw;
    height: 15vh;
    display: inline-block;
   
    font-family: 'Courier New';
    
    
   
}
@media screen and (max-width: 550px) {
    .about-img-container {
        height: 237px;
        width: 300px;
        font-size: .1038rem;
    } 
}


 









