.footer {
    min-height: 10vh;

    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 3%;
    padding-bottom: 1%;
    font-family: 'Courier New', Courier, monospace;
}
.footer-end {
    
    font-size: .9rem;
    font-weight: 100;
}
a {
   
    font-weight: 100;
    font-size: .9rem;
}