.photo-container {
    
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    
    font-family: 'Courier New', Courier, monospace;
}
#parlor-card, #olddominion-card, #idaho-card {
  
    height: 30vh;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}
#od-placeholder, #idaho-placeholder {
    object-fit: contain;
    height: 80%;
    max-width: 100%;
    
}
.photo-2-container, .photo-3-container {
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 850px) {
    .photo-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
